body{
      background-color: blanchedalmond;
      margin: 0;
      padding: 0;
}

/* Header Image */
header{
      background-color: rgb(100, 192, 25);
}

header img{
      height:70px;
      padding: 0 0 0 100px;
}

.nav-item ul{
      list-style-type: none;
      float: right;
}

ul{
      list-style-type: none;
      float: right;
}

/* .nav-item ul li{
      display: inline-block;
} */

/* ul li{
      display: inline-block;
}  */

 li{
      display: inline-block;
      padding: 0 30px 0 0;
      font-size: 1.5em;
}

a{
      text-decoration: none;
      color: black;
}