h1 {
    text-align:center;
}

.main{
    background-color: red;
    height: 100vh;
    padding: 4em;
}

.top{
    background-color: green;
    display: flex;
    justify-content: center;
}

.left-container{
    background-color: aqua;
    width: 50%;
    height: 80vh;
    /* margin-right: 200px; */
}

.image img{
    height: auto;
    width: 100%;
}
.right-container{
    background-color: yellow;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: pink;
    height: 70%;
    width: 50%;
    padding: 5em;
}

.accountdiv{
    background-color: goldenrod;
    height: 20%;
}

.get-app{
    height: auto;
    background-color: chartreuse;
}

.get-app > img{
    height: 2em;
}

.footer{
    background-color: blue;
}

.footer{
    text-align: center;
}
